* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    color: black;
    background-color: #efeae3;
    font-family: "Neue Haas Grotesk Display";
}


@font-face {
    font-family: "Neue Haas Grotesk Display";
    src: url("./fonts/NeueHaasGrotText-55Roman-Trial.otf");
}

#page1 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 0 2vw;
}

nav {
    padding: 2vw 3vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navright {
    display: flex;
    gap: 2vw;
}

#navright h4 {
    padding: 10px 20px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.744);
    font-size: 18px;
    border: 1px solid rgba(0, 0, 0, 0.443);
    border-radius: 50px;
    letter-spacing: -1px;
    position: relative;
    transition: all ease 0.4s;
    overflow: hidden;
}

#navright h4::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.756);
    color: white;
    position: absolute;
    left: 0;
    bottom: -100%;
    border-radius: 50px;
    transition: all ease 0.4s;
}

#navright h4:hover::after {
    bottom: 0;
}

#navright h4 a {
    color: rgba(0, 0, 0, 0.756);
    text-decoration: none;
    z-index: 9;
    position: relative;
}

#navright h4:hover a {
    color: white;
}

#hero {
    height: 65vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding-bottom: 2.5vw;
}

#left h3 {

    width: 25vw;
    line-height: 2vw;
    font-size: 1.8vw;
}

#right h1 {
    align-items: flex-end;
    text-transform: uppercase;
    font-size: 10vw;
    line-height: 9vw;
    text-align: right;
}

#page1 video {
    margin-top: 4vw;
    border-radius: 30px;
    width: 100%;
}

#hero-shape {
    position: absolute;
    height: 36vw;
    width: 46vw;
    right: 0;
    top: 65vh;
}

#h1 {
    height: 100%;
    width: 100%;
    background-color: #ff350b;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(20px);
    position: absolute;
}

#h2 {
    height: 30vw;
    width: 30vw;
    background-color: #ff350b;
    border-radius: 50%;
    position: absolute;
    filter: blur(20px);
}

#h3 {
    height: 30vw;
    width: 30vw;
    background-color: #ff350b;
    border-radius: 50%;
    filter: blur(20px);
    position: absolute;
    animation-name: anime1;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes anime1 {
    from {
        transform: translate(-10%, -10%);
    }

    to {
        transform: translate(10%, -10%);
    }
}